#barra-v{
max-width: 350px;
width: 100%;
}

#barra-v ul{
list-style-type: none;
padding: 0px;
background-color: rgb(0, 5, 94)
}

#barra-v ul li{
border-bottom: 1px solid rgb(0, 195, 255);
}

#barra-v ul li a{
color: white;
padding: 20px;
display: block;
text-decoration: none;
}

#barra-v ul li a:hover{
background-color: rgb(0, 195, 255);
transition: background.2s;
}

#barra-h ul{
list-style: none;
padding: 0;
background-color: rgb(0, 5, 94);
}

#barra-h ul li{
display: inline;
}

#barra-h ul li a{
color: white;
padding: 22px;
display: inline-block;
text-decoration: none;
transition: background.2s;
}

#barra-h ul li a:hover{
background-color: rgb(0, 195, 255);
}

body{
background-color: rgb(235, 235, 235);
}

.container {
display: grid;
grid-template-columns: 20% 60% 20%;
}
  
@media (min-width:576px) {
.container {
grid-template-columns: 1% 98% 1%;
    }
}  
@media (min-width:768px) {
.container {
grid-template-columns: 5% 90% 5%;
  }
}
  
@media (min-width:992px) {
.container {
grid-template-columns: 10% 80% 10%;
  }
}
 
@media (min-width:1200px) {
.container {
grid-template-columns: 20% 60% 20%;
  }
}
.colunaEsq {
text-align: center;
padding: 20px 0;
}
.coluna {
text-align: justify;
padding: 20px 0;
}
.colunaDir {
text-align: center;
padding: 20px 0;
}
.text-center {
text-align: center
}

@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

h1, h2, h3, h4, h5, h6{
    font-family: "Rubik", sans-serif;
    color: rgb(0, 5, 94);
}

p, li{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: rgb(51, 47, 47);
}

blockquote{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-size: 18px;
    text-align: center;
}

.musicas{
  text-align: center;
}

table{
  width: 500px;
  border: 1px solid black;
  border-collapse: separate;
  box-shadow: 3px 5px 4px black;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

th{
  background-color: rgb(161, 161, 161);
}

td, th{
  border: 1px solid black;
  text-align: justify;
}

th, td, tr{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

tbody tr{
  color: white;
}

tbody > tr:nth-child(even){
  background-color: rgb(0, 0, 0);
}

tbody > tr:nth-child(odd){
  background-color: rgb(255, 0, 0);
}

h1, h2, h3, h4, h5, h6{
  text-align: center;
}

ul, ol{
  background-color: rgb(192, 192, 243);
  width: auto;
  margin: auto;
  border-radius: 10px;
}

picture, img, iframe{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}